name: CI/CD Monitoring Stack

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and start stack
        run: |
          docker compose build
          docker compose up -d

      - name: Wait for backend
        run: |
          echo "Waiting for backend to start..."
          sleep 10

      - name: List running containers
        run: docker ps
